.ranking {
  padding-top: 1em;
}

.own-row {
  font-weight: bold;
}

.table-divider {
  font-size: 1.5em;
  display: block;
  margin: 20px 0px;
}

body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.container {
  width: 80%;
}

#sidebar {
  position: absolute;
  right: 0px;
  top: 57px;
  height: 100%;
  width: 25%;
}

.page {
    margin: 40px;
}

h1{
    margin: 40px 0 60px 0;
}

.dark-area {
    background-color: #666;
    padding: 40px;
    margin: 0 -40px 20px -40px;
    clear: both;
}

.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.emission_timeline {
   width: 100%;
   height: 100%;
}

.foot {
  position: relative;
}

.foot img {
  width: 300px;
}

#footprint {
  text-align: center;
  /* display: none; */
}

.foot #electricity {
  position: absolute;
  left: 42%;
  top: 60%;
  width: 18%;
}

.foot #water {
  position: absolute;
  left: 48%;
  top: 20%;
  width: 18%;
}

.foot #car {
  position: absolute;
  left: 40%;
  top: 20%;
  width: 18%;
}

/* .item-list btn {
  width: 200px;
}

#dropdown1 li {
  width: 150px;
} */

.footprint ul {
  list-style: none;
}

.footprint ul li {
  padding: 3px 5px;
  display: none;
}

.scan-button {
  text-align: center;
}
.analyze-button {
  text-align: center;
  display: none;
}

/* .scan-button, .analyze-button {
  margin-top: 3em;
} */

#simulate-scan-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

#simulate-challenge-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hidden .progress {
  display: none;
}

.scan-card {
  margin-top: 2em;
}
